.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: $white;
	border-bottom: 1px solid #ececec;
	z-index: 1;
	max-width: 1600px;
	padding: 16px 15px;
	@media screen and (min-width: $desktop) {
		padding: 24px 0px 25px 0px;
	}
}
.header__container {
	padding-left: 0;
	padding-right: 0;
}
.header__container,
.navigation {
	display: flex;
	align-items: center;
}

.navigation__item,
.contact__item {
	margin-left: 50px;
	&:last-child {
		margin-right: 0px;
	}
}
.navigation__list {
	display: none;
	@media screen and (min-width: $tablet) {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		& a {
			color: $text;
			padding: 32px 2px;
		}
	}
	margin-left: 50px;
	&:last-child {
		margin-right: 0px;
	}
}
.contact {
	display: none;
	@media screen and (min-width: $tablet) {
		display: flex;
		margin-left: auto;
		flex-direction: column;
		margin-bottom: 0;
		@media screen and (min-width: $desktop) {
			flex-direction: row;
			align-items: center;
		}
	}
}
.contact a {
	color: $title;
	display: flex;
	align-items: center;
	padding: 5px 0px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	@media screen and (min-width: $desktop) {
		font-size: 14px;
		flex-direction: row;
		align-items: center;
	}
}

.navigation__link,
.contact__link .contact-icons,
.contact__link {
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: $cubic-bezier;
}

.contact__icons {
	margin-right: 10px;
	align-items: center;
	justify-content: center;
	fill: currentColor;
}
.link.current {
	@media screen and (min-width: $tablet) {
		position: relative;
		color: $blue;

		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			display: inline-block;
			width: 100%;
			height: 4px;
			background-color: $blue;
			border-radius: 2px;
			background-size: contain;
		}
	}
}
