.hero {
	background-color: $accent;
	background-image: l$linear-gradient, url("../img/mobile/hero-mob.jpg");
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: $linear-gradient, url("../img/mobile/hero-mob@2.jpg");
	}
	background-size: cover;
	letter-spacing: 0.06em;
	padding: 118px 60px;
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (min-width: $tablet) {
		background-image: $linear-gradient, url(../img/tablet/hero-tab.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: $linear-gradient, url(../img/tablet/hero-tab@2x.jpg);
		}
	}
	@media screen and (min-width: $desktop) {
		background-image: $linear-gradient, url(../img/desktop/hero.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: $linear-gradient, url(../img/desktop/hero-desk@2x.jpg);
		}
		padding: 200px 0;
		max-width: 1600px;
	}
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.hero__title {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $white;
	@media screen and (min-width: $desktop) {
		max-width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
}
