.quality {
	@media screen and (min-width: $desktop) {
		padding-bottom: 0px;
	}
}
.quality__list {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: -15px;
	}
}

.quality__item {
	margin-bottom: 30px;
	@media screen and (min-width: $tablet) {
		width: calc((100% - 4 * 15px) / 2);
		margin: 15px;
	}
	@media screen and (min-width: $desktop) {
		max-width: 270px;

		&:last-child {
			margin-right: 0px;
		}
	}
}
.quality__title {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $text;
	text-align: center;
	@media screen and (min-width: $tablet) {
		text-align: left;
	}
}
.quality__text {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $title;
}
.quality__picture {
	height: 120px;
	// width: 270px;
	background-color: #f5f4fa;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
