$text: #212121;
$title: #757575;
$blue: #2196f3;
$white: #ffffff;
$second: #f5f4fa;
$accent: #2f303a;
$black: #000000;

$mobile: 479.99px;
$tablet: 767.99px;
$desktop: 1199.99px;

$linear-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
